@font-face {
  font-family: "Jost";
  src: url("./assets/fonts/Jost-Bold.woff2") format("woff2"), url("./assets/fonts/Jost-Bold.woff") format("woff"), url("./assets/fonts/Jost-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("./assets/fonts/Jost-Regular.woff2") format("woff2"), url("./assets/fonts/Jost-Regular.woff") format("woff"), url("./assets/fonts/Jost-Regular.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("./assets/fonts/Jost-SemiBold.woff2") format("woff2"), url("./assets/fonts/Jost-SemiBold.woff") format("woff"), url("./assets/fonts/Jost-SemiBold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
* {
  font-family: "Jost", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: inherit;
  scroll-behavior: smooth;
  z-index: 1;
}

body {
  overflow-x: hidden;
  margin: 0;
}

#offer:target {
  scroll-margin-top: 200px;
}

h1,
h2,
p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
  gap: var(--gap-md);
}

.link {
  display: inline-flex;
  gap: var(--gap-sm);
  font-size: var(--fs-base);
  align-items: center;
  color: var(--color-blue-main);
}

.logo {
  line-height: 0;
}

.margin-top-sm {
  margin-top: var(--margin-sm);
}
.margin-top-md {
  margin-top: var(--margin-md);
}
.margin-top-lg {
  margin-top: var(--margin-lg);
}
.margin-top-xl {
  margin-top: var(--margin-xl);
}
.margin-bottom-sm {
  margin-bottom: var(--margin-sm);
}
.margin-bottom-md {
  margin-bottom: var(--margin-md);
}
.margin-bottom-lg {
  margin-bottom: var(--margin-lg);
}
.margin-bottom-xl {
  margin-bottom: var(--margin-xl);
}

.headline {
  font-size: var(--fs-xxl);
  font-weight: 500;
  color: var(--color-blue-main);
  position: relative;
  line-height: 1;
}
.headline--margin-sm {
  margin-bottom: 30px;
}
.headline--light {
  color: var(--color-white);
}
.headline--center::after {
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}

.text-big {
  font-size: var(--fs-base);
  font-weight: 600;
}

.paragraph {
  line-height: var(--lh-lg);
  font-size: var(--fs-sm);
}

.container {
  display: flex;
  justify-content: center;
}

.content {
  max-width: var(--max-size) !important;
  color: var(--color-regular);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  padding-right: var(--padding-md);
  padding-left: var(--padding-md);
}

.line-top {
  border-top: 1px solid var(--color-grey-light);
}
.line-bottom {
  border-bottom: 1px solid var(--color-grey-light);
}
.line-left {
  border-left: 1px solid var(--color-grey-light);
}
.line-right {
  border-right: 1px solid var(--color-grey-light);
}

:root {
  --color-blue-main: #5784e6;
  --color-blue-second: #0B1957;
  --color-orange: #f27028;
  --color-orange-second: #f59324;
  --color-regular: #343434;
  --color-grey: #7D7D7D;
  --color-grey-light: #EFEFEF;
  --color-white: #fff;
  --gap-xl: 64px;
  --gap-lg: 48px;
  --gap-md: 24px;
  --gap-sm: 16px;
  --padding-xl: 64px;
  --padding-lg: 48px;
  --padding-md: 24px;
  --padding-sm: 16px;
  --radius-lg: 24px;
  --radius-sm: 8px;
  --fs-xxl: 4rem;
  --fs-xl: 3rem;
  --fs-lg: 2.25rem;
  --fs-md: 2rem;
  --fs-base: 1.5rem;
  --fs-regular: 1.25rem;
  --fs-sm: 1rem;
  --fs-xs: 0.75rem;
  --fs-xxs: 0.6rem;
  --lh-lg: 1.6;
  --lh-md: 1.2;
  --max-size: 1140px;
  --border-h-lg: 4px;
  --border-h-md: 2px;
  --margin-xl: 64px;
  --margin-lg: 48px;
  --margin-md: 24px;
  --margin-sm: 16px;
}

@media (min-width: 768px) {
  :root {
    --fs-xl: 3rem;
    --fs-lg: 2.25rem;
    --fs-md: 2rem;
    --fs-base: 1.5rem;
    --fs-sm: 1rem;
    --fs-xs: 0.75rem;
    --fs-xxs: 0.6rem;
  }
}
@media (min-width: 1200px) {
  :root {
    --fs-xl: 4rem;
    --fs-lg: 2.5rem;
    --fs-md: 2.25rem;
    --fs-base: 1.5rem;
    --fs-sm: 1.25rem;
    --fs-xs: 1;
    --fs-xxs: 0.6rem;
  }
}
.color {
  color: var(--color-blue-main);
}
.color--grey {
  color: var(--color-grey);
}

.gradient-text {
  background: linear-gradient(to right top, #0B1957, #5784E6);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline;
}

.mobile-only {
  display: block;
}
@media (min-width: 600px) {
  .mobile-only {
    display: none;
  }
}

.header {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  z-index: 9;
  transition: all 0.3s ease;
  color: var(--color-white);
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-direction: row;
}
.header__item {
  display: flex;
  align-items: center;
  gap: var(--gap-xl);
}
.header__menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  gap: 0;
  transition: all 0.3s ease;
  z-index: 8;
  border-bottom: var(--border-h-md) solid var(--color-blue-main);
}
.header__menu.active {
  display: flex;
}
.header__link {
  font-size: var(--fs-base);
  color: var(--color-white);
  text-align: left;
  display: flex;
  align-items: center;
  transition: all 0.2s ease;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  text-shadow: 0 0 0 rgba(87, 132, 230, 0);
}
.header__link:hover {
  color: #7fa7ff;
  text-shadow: 0 0 30px rgba(87, 132, 230, 0.5), 0 0 50px rgba(87, 132, 230, 0.7);
}
.header__link:last-child {
  border-bottom: none;
}
.header__logo:hover svg {
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.8));
}
.header__link--main {
  color: var(--color-orange);
  font-weight: 500;
}
.header__link--main:hover {
  color: var(--color-orange-dark);
}
.header__button {
  font-size: var(--fs-regular);
  transition: transform 0.2s ease;
}
.header__button:hover {
  transform: scale(1.05);
}
.header__hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 10;
  position: relative;
  margin-left: auto;
  border: 1px solid var(--color-white);
}
.header__hamburger::before, .header__hamburger::after {
  content: "";
  position: absolute;
  width: 41px;
  height: 1px;
  background-color: var(--color-white);
  transition: all 0.3s ease;
}
.header__hamburger::before {
  transform: rotate(0deg);
}
.header__hamburger::after {
  transform: rotate(90deg);
}
.header__hamburger.active::before {
  transform: rotate(45deg);
}
.header__hamburger.active::after {
  transform: rotate(-45deg);
}
@media (min-width: 767px) {
  .header__button {
    font-size: var(--fs-regular) !important;
  }
}
@media (min-width: 1024px) {
  .header__content {
    flex-direction: row;
  }
  .header__item {
    gap: var(--gap-xl);
  }
  .header__item:first-child {
    flex-grow: 1;
  }
  .header__menu {
    position: static;
    display: flex;
    flex-direction: row;
    width: auto;
    box-shadow: none;
    border-bottom: none;
    gap: var(--gap-lg);
  }
  .header__link {
    font-size: var(--fs-regular);
    padding: 0;
    border-bottom: none;
    text-align: center;
  }
  .header__link:hover {
    background-color: transparent;
  }
  .header__hamburger {
    display: none;
  }
}

.backgroundCanvas {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: 0;
}

.offer {
  height: 100vh;
  background: linear-gradient(to left bottom, #5784E6 -24.17%, #0B1957 72.1%);
}
.offer__content {
  color: var(--color-white);
  gap: var(--gap-md);
  justify-content: center;
  height: 100%;
}
.offer__text {
  font-size: var(--fs-base);
}

.date {
  display: flex;
  font-size: var(--fs-base);
}
.date__item {
  padding: 15px;
}
.date__item:not(:last-child) {
  border-right: 1px solid var(--color-white);
}

.button {
  display: flex;
  align-items: center;
  height: 50px;
  width: -moz-max-content;
  width: max-content;
  position: relative;
  overflow: hidden;
  color: var(--color-white);
  font-size: var(--fs-regular);
  cursor: pointer;
}
.button__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: var(--color-white);
  z-index: 1;
}
.button__text {
  padding: 0 var(--padding-sm);
  position: relative;
  z-index: 1;
  transition: color 0.3s ease;
}
.button:hover .button__text {
  color: var(--color-blue-second);
}
.button:hover::before {
  transform: translateX(0);
}
.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 0;
}
.button--color {
  color: var(--color-regular);
}
.button--color .button__icon {
  background-color: var(--color-blue-main);
}
.button--color:hover .button__text {
  color: var(--color-white);
}
.button--color::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-blue-main);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 0;
}

.description__content {
  padding-top: var(--padding-lg);
  padding-bottom: var(--padding-lg);
}
.description__text {
  font-size: var(--fs-lg);
}

.double-arrow {
  position: relative;
  width: 40px;
  height: 60px;
  margin: 40px 0;
  transform: translateX(9px);
}
.double-arrow::before, .double-arrow::after {
  content: "";
  position: absolute;
  width: 44px;
  height: 44px;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  animation: gradientAnimation 2s infinite alternate;
}
.double-arrow::before {
  left: 0;
  transform: rotate(45deg);
  animation-delay: 0.1s;
}
.double-arrow::after {
  left: 0;
  top: 30px;
  transform: rotate(45deg);
}

@keyframes gradientAnimation {
  0% {
    border-color: #0B1957;
  }
  100% {
    border-color: #5784E6;
  }
}
.list__header {
  padding: var(--padding-xl) var(--padding-sm) var(--padding-md);
}
.list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 74px;
  font-size: var(--fs-regular);
  padding: var(--padding-sm);
  gap: var(--gap-sm);
}
.list__item--column {
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
}

.headgroup {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
}
.headgroup__label {
  font-size: var(--fs-regular);
}
.headgroup__label::before {
  content: "[ ";
}
.headgroup__label::after {
  content: " ]";
}
.headgroup__headline {
  font-size: var(--fs-base);
}

.background {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  min-height: 250px;
}/*# sourceMappingURL=style.css.map */