@import "./assets/css/font";
@import "./assets/css/root";
@import "./assets/css/header";


.backgroundCanvas {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: 0;
}

.offer {
    height: 100vh;
    background: linear-gradient(to left bottom, #5784E6 -24.17%, #0B1957 72.1%);

    &__content {
        color: var(--color-white);
        gap: var(--gap-md);
        justify-content: center;
        height: 100%;
    }

    &__text {
        font-size: var(--fs-base);
    }

}

.date {
    display: flex;
    font-size: var(--fs-base);

    &__item {
        padding: 15px;
    }

    &__item:not(:last-child) {
        border-right: 1px solid var(--color-white);
    }
}


.button {
    display: flex;
    align-items: center;
    height: 50px;
    width: max-content;
    position: relative;
    overflow: hidden;
    color: var(--color-white);
    font-size: var(--fs-regular);
    cursor: pointer;

    
    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background-color: var(--color-white);
        z-index: 1;
    }

    &__text {
        padding: 0 var(--padding-sm);
        position: relative;

        z-index: 1;
        transition: color 0.3s ease;
    }

    &:hover {


        .button__text {
            color: var(--color-blue-second);
        }

        &::before {
            transform: translateX(0);
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-white);
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        z-index: 0;
    }

    &--color {
        color: var(--color-regular);

        .button__icon {
            background-color: var(--color-blue-main);
        }

        &:hover {
            .button__text {
                color: var(--color-white);
            }
        }
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--color-blue-main);
            transform: translateX(-100%);
            transition: transform 0.3s ease;
            z-index: 0;
        }
    }

}

.description {
    &__content {
        padding-top: var(--padding-lg);
        padding-bottom: var(--padding-lg);
    }

    &__text {
        font-size: var(--fs-lg);
    }


}

.double-arrow {
    position: relative;
    width: 40px;
    height: 60px;
    margin: 40px 0;
    transform: translateX(9px);

    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 44px;
        height: 44px;
        border-right: 4px solid transparent;
        border-bottom: 4px solid transparent;
        animation: gradientAnimation 2s infinite alternate;
    }

    &::before {
        left: 0;
        transform: rotate(45deg);
        animation-delay: 0.1s;
    }

    &::after {
        left: 0;
        top: 30px;
        transform: rotate(45deg);
    }
}

@keyframes gradientAnimation {
    0% {
        border-color: #0B1957;
    }

    100% {
        border-color: #5784E6;
    }
}

.list {
    &__header {
        padding: var(--padding-xl) var(--padding-sm) var(--padding-md);
        // для планшетной и десктопной версий
        // position: sticky;
        // top: 0;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 74px;
        font-size: var(--fs-regular);
        padding: var(--padding-sm);
        gap: var(--gap-sm);

        &--column {
            flex-direction: column;
            align-items: start;
           
            justify-content: flex-start;
        }
    }
}

.headgroup {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);

    &__label {
        font-size: var(--fs-regular);

        &::before {
            content: "[ ";
        }

        &::after {
            content: " ]";
        }
    }

    &__headline {
        font-size: var(--fs-base);
    }
}
.background {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    min-height: 250px;
}